.p-followNavSidebar {
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    &__inner {
      position: sticky;
      max-height: calc(100vh - 120px);
      top: 110px;
    }
  }
}
.p-followNavTab {
  background: linear-gradient($lightKhaki, $lightKhaki) repeat-x left center;
  background-position-y: bottom;
  background-size: 2px 2px;
}
