/* typography --------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}
/* /typography --------------------------------------------------------------- */

/* content ------------------------------------------------------------------ */
.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}
/* /content ------------------------------------------------------------------ */

/* layout ------------------------------------------------------------------- */
.l-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
  &Logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
    &:hover {
      text-decoration: none;
    }
  }
}
.l-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
  &Text:last-child {
    margin-bottom: 0;
  }
}
/* /layout ------------------------------------------------------------------- */

/* components --------------------------------------------------------------- */
.c-navScroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  &__nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}
.c-pagination {
  margin-bottom: 4rem;
  & > .btn {
    border-radius: 2rem;
  }
}
.c-post {
  margin-bottom: 4rem;
  &Title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  &Meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }
}
/* components --------------------------------------------------------------- */

/* utilities ---------------------------------------------------------------- */
.u-focusImg {
  // font-size: 1.125rem;
  text-anchor: middle;
  user-select: none;
}
.u-top--2rem {
  top: 2rem
}
.u-bgImgFull {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &--photo {
    background-image: url('https://picsum.photos/1200/1200?random=3&grayscale&blur=3');
  }
}
/* /utilities ---------------------------------------------------------------- */
