$lineStyleTitleBgPrimary: $primary;
$lineStyleTitleBgSecondary: $secondary;

.c-lineStyleTitle {
  text-align: center;
  width: 100%;
  // font-size: 20px;
  &Icon {
    background-size: 43px auto;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 40px;
    &--bgHezuo {
      background-image: url(~images/hezuo.svg);
    }
  }
  &__text {
    // display: inline-block;
    // word-break: keep-all;
    white-space: nowrap;
    padding-left: .8125rem;
    padding-right: .8125rem;
    @include media-breakpoint-up(lg) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  &Bg {
    display: table;
    &::before, &::after {
      content: "";
      display: table-cell;
      width: 50%;
    }
    &--primary {
      &::before, &::after {
        background: linear-gradient($lineStyleTitleBgPrimary, $lineStyleTitleBgPrimary) repeat-x left center;
      }
    }
    &--secondary {
      &::before, &::after {
        background: linear-gradient($lineStyleTitleBgSecondary, $lineStyleTitleBgSecondary) repeat-x left center;
      }
    }
    &--1 {
      &::before, &::after {
        background-size: 1px 1px;
      }
    }
    &--2 {
      &::before, &::after {
        background-size: 2px 2px;
      }
    }
    &--3 {
      &::before, &::after {
        background-size: 3px 3px;
      }
    }
  }
}
