<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="<%= htmlWebpackPlugin.options.viewport %>" />
    <meta name="viewport" content="<%= htmlWebpackPlugin.options.viewport %>" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.Keywords %>" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <nav
      class="
        navbar navbar-expand-lg navbar-light
        bg-white
        border-bottom border-primary border-5
        py-md-4
        mb-5
        sticky-top
      "
    >
      <div class="container">
        <a class="navbar-brand logo ms-1 ms-sm-0 me-6" href="index.html"></a>
        <button
          class="navbar-toggler border-0 me-n3"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon material-icons text-secondary">menu</span>
        </button>
        <div class="collapse navbar-collapse py-3 py-md-0" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center text-lg-start">
            <li class="nav-item">
              <a class="nav-link px-6" aria-current="page" href="#">關於</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-6" href="#">挖寶</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-6" href="#">我有個大膽的想法</a>
            </li>
          </ul>
          <div class="d-flex justify-content-center justify-content-md-start">
            <button class="btn btn-primary rounded-pill px-8 me-4" type="submit">登入</button>
            <button class="btn btn-outline-secondary rounded-pill px-8" type="submit">註冊</button>
          </div>
        </div>
      </div>
    </nav>
    <div class="container pb-5">
      <div class="row">
        <div class="col-12 mb-3">
          <div class="col-12">
            <span class="badge bg-secondary mb-1">魔法科技</span>
            <h1 class="h2 fw-bold text-dark">
              <span class="d-inline-block">拍出會動的照片｜</span>
              <span class="d-inline-block">LivePhotos 魔法拍立得</span>
            </h1>
            <h5 class="h5">Baloo Tamma 2 (SemiBold)</h5>
            <p>
              <span class="u-fontFamily--BalooTamma2 h2">$280,047</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
