<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="<%= htmlWebpackPlugin.options.viewport %>" />
    <meta name="viewport" content="<%= htmlWebpackPlugin.options.viewport %>" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.Keywords %>" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="#" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-primary border-5 py-md-4 sticky-top">
      <div class="container">
        <a class="navbar-brand logo ms-1 ms-sm-0 me-6" href="index.html"></a>
        <button
          class="navbar-toggler border-0 me-n3"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon material-icons text-secondary">menu</span>
        </button>
        <div class="collapse navbar-collapse py-3 py-md-0" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center text-lg-start">
            <li class="nav-item">
              <a class="nav-link px-6" aria-current="page" href="#">關於</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-6" href="#">挖寶</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-6" href="#">我有個大膽的想法</a>
            </li>
          </ul>
          <div class="d-flex justify-content-center justify-content-md-start">
            <button class="btn btn-primary rounded-pill px-8 me-4" type="submit">登入</button>
            <button class="btn btn-outline-secondary rounded-pill px-8" type="submit">註冊</button>
          </div>
        </div>
      </div>
    </nav>
    <header class="bg-light py-4 py-md-12">
      <div class="container pb-5">
        <div class="row">
          <div class="col">
            <span class="badge bg-secondary mb-1">魔法科技</span>
            <h1 class="h2 fw-700 lh-36 lh-md-47 ls-225 ls-md-300 mb-4 mb-md-6">
              <span class="d-inline-block">拍出會動的照片｜</span><span class="d-inline-block">LivePhotos 魔法拍立得</span>
            </h1>
            <div class="row">
              <div class="col-lg-7 mb-4">
                <div class="productCover">
                  <img
                    class="img-fluid rounded-3"
                    src="assets/images/produt_image.jpg"
                    alt="LivePhotos x 魔法拍立得 | 動態照片拍立得 | 產品圖片"
                  />
                </div>
              </div>
              <div class="col-lg-5">
                <small class="lh-25 fw-400 text-gray"><span class="d-inline-block">目標</span> <span class="u-fontFamily--BalooTamma2 d-inline-block align-middle">$600,000</span></small>
                <p class="u-fontFamily--BalooTamma2 fs-11 lh-56 fw-600 mb-0 text-slateGray">$280,047</p>
                <div class="progress rounded-pill mb-2">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 41%"
                    aria-valuenow="41"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    41%
                  </div>
                </div>
                <div class="row mb-2 mb-lg-3">
                  <div class="col">
                    <small class="text-gray">贊助人數</small>
                    <p class="fs-11"><span class="u-fontFamily--BalooTamma2 fw-600">1374</span> <span class="fs-7 fw-700">人</span></p>
                  </div>
                  <div class="col">
                    <small class="text-gray">贊助人數</small>
                    <p class="fs-11"><span class="u-fontFamily--BalooTamma2 fw-600">27</span> <span class="fs-7 fw-700">天</span></p>
                  </div>
                </div>
                <ul class="list-unstyled list-group list-group-horizontal mb-4 justify-content-between justify-content-lg-start">
                  <li class="c-responsiveTip">
                    <span class="c-responsiveTip__icon c-LineStyleIcon c-LineStyleIcon--popularityKing mr-2"></span>
                    <span class="c-responsiveTip__text fs-md-2"><span class="d-inline-block">認證</span><span class="d-inline-block">標章</span></span>
                  </li>
                  <li class="c-responsiveTip">
                    <span class="c-responsiveTip__icon c-LineStyleIcon c-LineStyleIcon--certification mr-2"></span>
                    <span class="c-responsiveTip__text fs-md-2"><span class="d-inline-block">品質</span><span class="d-inline-block">保證</span></span>
                  </li>
                  <li class="c-responsiveTip">
                    <span class="c-responsiveTip__icon c-LineStyleIcon c-LineStyleIcon--great mr-2"></span>
                    <span class="c-responsiveTip__text fs-md-2"><span class="d-inline-block">原生</span><span class="d-inline-block">創意</span></span>
                  </li>
                  <li class="c-responsiveTip">
                    <span class="c-responsiveTip__icon c-LineStyleIcon c-LineStyleIcon--idea mr-2"></span>
                    <span class="c-responsiveTip__text fs-md-2"><span class="d-inline-block">人氣王</span></span>
                  </li>
                </ul>
                <div class="bg-white p-4 border-start border-3 border-primary p-4 mb-4 mb-lg-6">
                  <p class="mb-0 fs-2 fs-lg-3 text-gray">
                    專案募資中！<br />在 2021/06/14 23:59 募資結束前，您都可以贊助我們！
                  </p>
                </div>
                <ul class="list-unstyled list-group list-group-horizontal d-flex flex-wrap w-100">
                  <li class="w-100">
                    <a href="#" class="btn btn-lg btn-primary rounded-pill d-block mb-2">贊助專案</a>
                  </li>
                  <li class="flex-grow-1">
                    <a href="#" class="btn btn-lg btn-outline-secondary rounded-pill d-block me-1 "><i class="fas fa-heart faIcon me-2"></i>追蹤專案</a>
                  </li>
                  <li class="w-50 w-lg-40">
                    <a href="#" class="btn btn-lg btn-outline-secondary rounded-pill d-block ms-1"><i class="fas fa-share-alt faIcon me-2"></i>分享</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <nav class="bg-white">
      <div class="container">
        <ul class="nav justify-content-between mx-n3 mx-md-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">專案介紹</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">常見問答</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">目前進度</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">留言</a>
          </li>
        </ul>
      </div>
    </nav>
    <article>
      <section>
        <h2>施了魔法的照片</h2>
      </section>
      <section>
        <h2>選擇一個方案來支持</h2>
      </section>
      <section>
        <h2>贊助專案</h2>
      </section>
    </article>
  </body>
</html>
